[package]
name = "vmod_round_robin"
version = "0.0.0"
publish = false
edition.workspace = true

[dependencies]
varnish.workspace = true
varnish-sys.workspace = true
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[lib]
crate-type = ["cdylib"]

[lints]
workspace = true
