name: Build

on:
  push:
    branches: [ "main", "feature-*" ]
  pull_request:
    branches: [ "main", "feature-*" ]
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        include:
          # The default version is set in the justfile. If setup is blank, will use default.
          # To update tests for all versions, run `just bless-all`
          - type: latest
          - setup: varnish76
            version: "7.6.3-*"
          - setup: varnish60lts
            version: "6.0.14-*"
    env:
      RUST_BACKTRACE: 1
      RUSTDOCFLAGS: -D warnings
      RUSTFLAGS: -D warnings
    steps:
      - uses: taiki-e/install-action@v2
        with: { tool: just }
      - uses: actions/checkout@v4
      - if: matrix.type == 'latest'
        name: Ensure this crate has not yet been published (on release)
        run: just check-all-if-published
      - if: github.event_name != 'release' && github.event_name != 'workflow_dispatch'
        uses: Swatinem/rust-cache@v2
      - run: just install-varnish ${{ matrix.setup }} ${{ matrix.version }}
      - run: just -v ci-test
      - if: matrix.type == 'latest'
        name: Test for latest Varnish version
        run: just ci-test-extras
      - if: matrix.type == 'latest'
        name: Check semver
        uses: obi1kenobi/cargo-semver-checks-action@v2
        with:
          exclude: varnish-sys  # GitHub CI somehow generated a different output
      - if: matrix.type == 'latest'
        name: Test packaging for publish
        run: |
          rustup install nightly --profile minimal
          just clean test-publish
        #
        # MSRV Test - should be done after all the regular tests with the latest Rust are done
        #
      - if: matrix.type == 'latest'
        name: Read crate metadata
        id: msrv
        run: echo "value=$(sed -ne 's/rust-version *= *\"\(.*\)\"/\1/p' Cargo.toml)" >> $GITHUB_OUTPUT
      - if: matrix.type == 'latest'
        name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ steps.msrv.outputs.value }}
          components: rustfmt
      - if: matrix.type == 'latest'
        run: just -v ci-test-msrv

  # Ensure that the docs can be built at docs.rs without varnish dependencies
  test-docs-rs:
    runs-on: ubuntu-latest
    steps:
      - uses: taiki-e/install-action@v2
        with: { tool: just }
      - uses: actions/checkout@v4
      - if: github.event_name != 'release' && github.event_name != 'workflow_dispatch'
        uses: Swatinem/rust-cache@v2
      - name: Ensure docs can be built at docs.rs without varnish dependencies
        run: just ci-test-docs-rs

  publish:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [ test, test-docs-rs ]
    runs-on: ubuntu-latest
    steps:
      - uses: taiki-e/install-action@v2
        with: { tool: just }
      - uses: actions/checkout@v4
      - run: just install-varnish
      - name: Publish to crates.io
        run: just publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
